name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        cfg:
          - runner: "ubuntu-24.04"
            system: "x86_64-linux"
          - runner: "ubuntu-24.04-arm"
            system: "aarch64-linux"
          - runner: "macos-26"
            system: "aarch64-darwin"
          - runner: "macos-26"
            system: "x86_64-darwin"
    runs-on: ${{ matrix.cfg.runner }}
    steps:
      - uses: actions/checkout@v5
      - name: enable unprivileged userns clone
        if: runner.os == 'Linux'
        run: |
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
          sudo sysctl -w kernel.unprivileged_userns_clone=1
      - uses: wimpysworld/nothing-but-nix@main
        if: runner.os == 'Linux'
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            fallback = true
            accept-flake-config = true
            system = ${{ matrix.cfg.system }}

      - name: Setup Attic Cache
        continue-on-error: true
        run: |
          nix profile add --inputs-from . "nixpkgs#attic-client"
          attic login attic-server ${{ vars.ATTIC_ENDPOINT }} ${{ secrets.ATTIC_TOKEN }}
          attic use ${{ vars.ATTIC_CACHE }}

      - name: Run checks
        run: nix build ".#ci"

      - name: Upload Cache
        if: always()
        continue-on-error: true
        run: nix path-info --all | grep -v ".drv$" | attic push ${{ vars.ATTIC_CACHE }} --stdin
